# Python / caches
__pycache__/
*.pyc
.ipynb_checkpoints/

# Poetry venv
.venv/

# VS Code
.vscode/

# OS
Thumbs.db
.DS_Store


# EnKF experiment outputs
correction_v1_ensemble_size/


# pickle / numpy outputs
*.pkl
